<div class="mat-dialog">
    <div fxLayout="row">
        <h2 fxFlex="92" mat-dialog-title>Editar {{source}}</h2>
        <button fxFlex mat-icon-button (click)="close()">
            <mat-icon>clear</mat-icon>
        </button>
    </div>

    <mat-dialog-content>
        <form #form="ngForm" class="form" fxLayout="column">
            <mat-form-field>
                <input matInput placeholder="Unidade" [(ngModel)]="unit.unidade_nome" [ngModelOptions]="{standalone: true}" autofocus>
            </mat-form-field>
        </form>

    </mat-dialog-content>

    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end end">
        <button class="mat-raised-button" (click)="close()">Fechar</button>
        <button class="mat-raised-button mat-primary" (click)="save()">Salvar</button>
    </mat-dialog-actions>
</div>