.color-pink {
    color: rgb(255,64,129);
}

mat-panel-title span { 
    margin-top: 4px;
    margin-left: 5px;
}

mat-panel-title {
    margin-top: 10px;
}

.mat-expansion-panel {
    padding: 8px 0 8px 0;
}
