.title {
    color: rgb(255,64,129);
    font-size: 16px;
    font-weight: bold;
}

.color-pink {
    color: rgb(255,64,129);
}

.mat-radio-button {
    padding-right: 16px;
    font-size: 14px;
}

mat-panel-title span { 
    margin-top: 4px;
    margin-left: 5px;
}

mat-panel-title {
    margin-top: 10px;
}

.mat-expansion-panel {
    padding: 8px 0 8px 0;
}
