<mat-toolbar class="toolbar-no-background" fxFlex>
    <mat-toolbar-row fxLayout="row">
        <h1 class="title">Despesas orçamentarias</h1>
    </mat-toolbar-row>

    <mat-toolbar-row fxLayout="row">
        <mat-radio-group fxFlex>
            <mat-radio-button value="1">Tudo</mat-radio-button>
            <mat-radio-button value="2">Mês</mat-radio-button>
            <mat-radio-button value="3">Categoria</mat-radio-button>
            <mat-radio-button value="4">Fonte</mat-radio-button>
        </mat-radio-group>
    </mat-toolbar-row>
</mat-toolbar>

<div>
<!--lista de itens-->
</div>