<mat-toolbar class="toolbar-no-background">
    <mat-toolbar-row fxLayout="row">
        <h1 class="title">Despesas orçamentarias</h1>
    </mat-toolbar-row>

    <mat-toolbar-row fxLayout="row" [formGroup]="form">
        <mat-radio-group fxFlex formControlName="options">
            <mat-radio-button value="month">Mês</mat-radio-button>
            <mat-radio-button value="category">Categoria</mat-radio-button>
            <mat-radio-button value="source">Fonte de recursos</mat-radio-button>
        </mat-radio-group>
    </mat-toolbar-row>
</mat-toolbar>
<div fxLayout="row">
    <div fxFlex [ngSwitch]="form.controls.options.value">
        <challenge-month *ngSwitchCase="'month'" [months]="expenses.months"></challenge-month>
        <challenge-categories *ngSwitchCase="'category'" [categories]="expenses.categories"></challenge-categories>
        <challenge-source *ngSwitchCase="'source'" [sources]="expenses.sources"></challenge-source>
    </div>
</div>