<mat-accordion>
    <mat-expansion-panel *ngFor="let month of list">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon class="color-pink" mat-list-icon>description</mat-icon>
                <span>{{month.mes | monthPipe}}</span>
            </mat-panel-title>
            <button mat-icon-button class="color-pink" (click)="edit($event)">
                <mat-icon aria-label="Example icon-button with a heart icon">create</mat-icon>
            </button>
        </mat-expansion-panel-header>
        <mat-list fxFlex>
            <mat-list-item>
                <h4 mat-line>Valores</h4>
                <p mat-line>Empenhado {{month.valor_empenhado}}, Liquidado {{month.valor_liquidado}}, Pago {{month.valor_pago}}</p>
            </mat-list-item>
        </mat-list>
    </mat-expansion-panel>
</mat-accordion>